body {
    margin: 0;
    background: #111;
    font-family: Arial, sans-serif;
    color: white;
}

/* TITLE */

h1 {
    text-align: center;
    color: #39ff14;
    font-size: 60px;
    margin-top: 20px;
    text-shadow: 0 0 15px #39ff14;
}

/* MENU AREA */

.corner-menu {
    position: fixed;
    top: 40px;
    right: 60px;

    width: 500px;
    height: 300px;
}

/* PROFILE ORB */

.orb {
    position: absolute;
    right: 0;
    top: 40px;

    width: 180px;
    height: 180px;

    border-radius: 50%;

    background:
    radial-gradient(circle,
    #ffff88 0%,
    #7fff00 40%,
    #00aa00 100%);

    box-shadow:
    0 0 25px #7fff00,
    0 0 60px #39ff14,
    0 0 100px #39ff14;

    overflow: hidden;
}

.orb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BUTTONS */

.menu-buttons {
    position: absolute;
    top: 40px;
    right: 190px;
}

/* ABOUT */

.menu-buttons button:nth-child(1) {
    width: 180px;
    margin-left: 30px;
    margin-top: 5px;
}

/* VR DEV */

.menu-buttons button:nth-child(2) {
    width: 180px;
    margin-left: 0px;
    margin-top: 15px;
}

/* PROJECTS */

.menu-buttons button:nth-child(3) {
    width: 180px;
    margin-left: -15px;
    margin-top: 15px;
}

/* CONTACT */

.menu-buttons button:nth-child(4) {
    width: 180px;
    margin-left: 10px;
    margin-top: 15px;
}

.menu-buttons button {

    display: block;

    padding: 12px;

    border: none;

    background: #39ff14;

    color: black;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;

    box-shadow:
    0 0 10px #39ff14,
    0 0 20px #39ff14;

    transition: 0.2s;
}

.menu-buttons button:hover {

    background: #ffff55;

    transform: scale(1.05);
}

/* CONTENT BOX */

.content {

    width: 80%;

    max-width: 1200px;

    margin: 380px auto 50px auto;

    border: 4px solid #39ff14;

    padding: 25px;

    background: #222;

    min-height: 250px;

    box-shadow: 0 0 20px #39ff14;
}

.content h2 {
    color: #39ff14;
}
